In [7]:
import pandas as pd
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.holtwinters import ExponentialSmoothing

In [8]:
data=pd.read_csv('Data - Flipped.csv')
data.head()

,Year,United States,Germany,United Kingdom,Canada,France,Austria,Switzerland,Netherlands,Sweden,...,Finland,Norway,New Zealand,Italy,Greece,Israel,Poland,"Iran, Islamic Rep.",China,India
0,2000,12.490026,9.888435,7.129280,8.248144,9.584477,9.20,9.134424,7.71,7.33,...,7.09,7.70,7.470022,7.57,7.243325,6.62,5.29,4.722508,4.508281,4.03
1,2001,13.168116,9.920691,7.344163,8.624824,9.705628,9.27,9.460402,8.06,7.90,...,7.25,8.01,7.578936,7.74,7.987840,7.02,5.67,5.160873,4.253301,4.26
2,2002,13.995277,10.183657,7.650095,8.856705,10.022186,9.39,9.880002,8.65,8.21,...,7.63,8.98,7.900459,7.87,8.233780,6.92,6.07,4.651822,4.382853,4.24
3,2003,14.505511,10.402022,8.055792,9.010901,10.082834,9.55,10.136968,9.06,8.32,...,7.94,9.19,7.721693,7.83,8.449156,6.86,5.95,4.955892,4.417628,4.01
4,2004,14.551160,10.146032,8.307152,9.066281,10.164293,9.71,10.225765,9.11,8.13,...,8.06,8.80,7.900906,8.17,8.093905,6.80,5.87,5.128014,4.293475,3.96

In [9]:
result = seasonal_decompose(data['Germany'], model='additive', period=2)